/* color name */
/* h1{ 
    color: orchid;
} */

/* hex color */
/* h1{ 
    color: #ef45ee;
} */


/* 
h1{
 color: rgb(88, 54,99);
} */

/* background color  */
/* body{
    background-color: #661663;
    color: beige;
} */

/* div{
    background-color: darkkhaki;
    color: black;
} */

/* Opacity */
/* #div1{
    background-color: hotpink;
} */

/* img{
    opacity: 0.5;
} */
